<form method="post" action="/alumnos/alta">
Ingrese Nombre del alumno:
<input type="NombreAlumno" name="NombreAlumno" size="50">
<br>
Ingrese el apellido del alumno:
<input type="text" name="ApellidoAlumno" size="10">
<br>
Ingrese el Curso del alumno:
<input type="text" name="CursoAlumno" size="10">
<br>
Ingrese la division del alumno:
<input type="text" name="DivisionAlumno" size="10">
<br>
Ingrese el turno del alumno:
<input type="text" name="TurnoAlumno" size="10">
<br>
Ingrese la fecha de nacimiento del alumno:
<input type="text" name="FechaNacAlumno" size="10">
<br>
Ingrese el email del alumno:
<input type="text" name="EmailAlumno" size="10">
<br>
<input type="submit" value="Agregar">
</form>