<a href="/alumnos/creartabla">Creacion de una tabla 'alumnos' con MySQL</a></p>
<a href="/alumnos/alta">alta de alumnos</a></p>
<a href="/alumnos/listado">Listado completo de alumnos</a></p>   
<a href="/alumnos/consulta">Consulta de un alumno por Matricula</a></p>
<a href="/alumnos/modificacion">Modificacion de un alumno</a></p>